.about {
  padding: 15rem 1rem 12rem 1rem;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  color: #0e3f42;
}

/* 1800px */
@media only screen and (min-width: 112.5em) {
  .about {
    padding: 20rem 1rem 15rem 1rem;
  }
}

.about > h1 {
  font-size: 6rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 5rem;
}

/* 1800px */
@media only screen and (min-width: 112.5em) {
  .about > h1 {
    font-size: 8.5rem;
    margin-bottom: 7rem;
  }
}

/* 400px */
@media only screen and (max-width: 25em) {
  .about > h1 {
    font-size: 5rem;
  }
}

.about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 14rem;
}

/* 1800px */
@media only screen and (min-width: 112.5em) {
  .about-me {
    margin-bottom: 17rem;
  }
}

/* 400px */
@media only screen and (max-width: 25em) {
  .about-me {
    width: 85%;
    margin: 0 auto;
    margin-bottom: 14rem;
  }
}

.about-me > p {
  font-size: 1.8rem;
  width: 75%;
  margin: 0 auto;
  text-align: center;
  line-height: 2;
  margin-bottom: 8rem;
}

/* 1800px */
@media only screen and (min-width: 112.5em) {
  .about-me > p {
    font-size: 3rem;
    line-height: 3;
  }
}

/* 500px */
@media only screen and (max-width: 31.25em) {
  .about-me > p {
    width: 90%;
  }
}

/* 400px */
@media only screen and (max-width: 25em) {
  .about-me > p {
    line-height: 2.3;
    width: 99%;
  }
}

.resume:link,
.resume:visited {
  background-color: #000;
  color: #fff;
  font-size: 2rem;
  text-decoration: none;
  padding: 0.8rem 1.3rem;
  border-radius: 10rem;
  transition: all 0.3s;
}

/* 1800px */
@media only screen and (min-width: 112.5em) {
  .resume:link,
  .resume:visited {
    font-size: 3.3rem;
    padding: 1.5rem 2.3rem;
  }
}

.resume:hover,
.resume:active {
  transform: scale(1.1);
}

.about > h2 {
  font-size: 4rem;
  text-align: center;
  font-style: italic;
  color: #fff;
  margin-bottom: 5rem;
  position: relative;
  z-index: 5;
}

/* 1800px */
@media only screen and (min-width: 112.5em) {
  .about > h2 {
    font-size: 6rem;
  }
}

.about > h2::after {
  content: '';
  display: block;
  background-color: rgba(0, 0, 0, 0.753);
  position: absolute;
  bottom: 1rem;
  left: 50%;
  width: 25rem;
  height: 1.5rem;
  margin: 0 auto;
  z-index: -1;
  transform: translateX(-50%) skewX(-30deg);
}

/* 1800px */
@media only screen and (min-width: 112.5em) {
  .about > h2::after {
    width: 33rem;
    bottom: 1.5rem;
    height: 2.5rem;
  }
}

.skills {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 90%;
  margin: 0 auto;
  overflow-x: auto;
}

/* 400px */
@media only screen and (max-width: 25em) {
  .skills {
    width: 95%;
  }
}

.skills::-webkit-scrollbar {
  height: 5px;
}

.skills::-webkit-scrollbar-track {
  background-color: #000;
}

.skills::-webkit-scrollbar-thumb {
  background-color: #777;
  border-radius: 3px;
}

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skill:not(:last-child) {
  margin-right: 1rem;
}

.icon {
  font-size: 3rem;
  fill: #000;
  margin-bottom: 0.8rem;
}

/* 1800px */
@media only screen and (min-width: 112.5em) {
  .icon {
    font-size: 4.8rem;
  }
}

/* 400px */
@media only screen and (max-width: 25em) {
  .icon {
    font-size: 2.7rem;
  }
}

.skill > p {
  font-size: 1.5rem;
}

/* 1800px */
@media only screen and (min-width: 112.5em) {
  .skill > p {
    font-size: 2.7rem;
  }
}

/* 400px */
@media only screen and (max-width: 25em) {
  .skill > p {
    font-size: 1.3rem;
  }
}
