.header {
  height: 100vh;
  padding: 0 2rem;

  display: flex;
  flex-direction: column;
}

.header-title {
  flex: 1;
  margin-top: 10rem;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 10rem 10rem 12rem 10rem;

  /* display: grid;
  grid-template-columns: 2rem 1fr 1fr 2rem;
  grid-template-rows: 10rem 1fr 10rem; */

  display: flex;
  align-items: center;
}

.header-img {
  /* background-image: linear-gradient(
      100deg,
      #ffb700 0%,
      #ffb700 60%,
      transparent 60%
    ),
    url(../../../assets/home-image.png);
  background-size: cover;
  height: 90%;
  width: 90%;
  margin-top: 5%;
  margin-left: 5%;
  background-position: right;
  border-radius: 5px; */

  flex: 1;

  /* padding: 3rem; */
}

.header-text {
  /* grid-column: 2 / 3;
  grid-row: 2 / 3;
  padding-right: 8rem;
  animation: moveInBottom 1s;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center; */

  flex: 0 1 60%;
  padding-right: 10rem;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.header-text > h1 {
  font-size: 6rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

/* .header-text > h4 {
  font-size: 2.5rem;
  word-spacing: 5px;
  margin-bottom: 3rem;
} */

.header-text > div {
  font-size: 4.5rem;
  word-spacing: 4px;
  margin-bottom: 3rem;
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(100rem);
  }

  80% {
    transform: translateY(-5rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

/* .header-img {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  animation: moveInBottom 1s;
} */

/* @keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100rem);
  }

  80% {
    transform: translateX(-5rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
} */

.header-fig {
  height: 60rem;
  width: 50rem;
  border-radius: 10rem;
  overflow: hidden;
}

/* .header-poster {
  height: 100%;
  width: 100%;
  object-fit: contain;
} */

/* .header-fig {
  height: 100%;
  width: 100%;
  object-fit: contain;
} */

.btn {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  border: none;
  cursor: pointer;
}

.btn-icon {
  font-size: 3rem;
  transition: all 0.3s;
}

.btn:hover .btn-icon {
  transform: scale(1.1);
}
