.header {
  height: 100vh;
  padding: 0 2rem;

  display: flex;
  flex-direction: column;
}

.header-title {
  flex: 1;
  margin-top: 10rem;
  /* padding: 2rem;
  margin-top: 10rem;
  position: relative;

  display: flex;
  align-items: center; */
  display: grid;
  grid-template-columns: 2rem 1.3fr 1fr 2rem;
  grid-template-rows: 2rem 1fr 2rem;
}

.header-text {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  /* flex: 1;
  height: 100%; */
  padding-right: 8rem;
  animation: moveInBottom 1s;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.header-text > h1 {
  font-size: 6rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.header-text > h4 {
  font-size: 2.5rem;
  word-spacing: 5px;
  margin-bottom: 3rem;
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(100rem);
  }

  80% {
    transform: translateY(-5rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

.header-img {
  /* flex: 0 1 45%; */
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  animation: moveInBottom 1s;
}

/* @keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100rem);
  }

  80% {
    transform: translateX(-5rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
} */

.header-poster {
  display: block;
  width: 80%;
  height: 80%;
  margin-top: 10%;
  object-fit: cover;
}

.btn {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  border: none;
  cursor: pointer;
}

.btn-icon {
  font-size: 3rem;
  transition: all 0.3s;
}

.btn:hover .btn-icon {
  transform: scale(1.1);
}
