.projects {
  padding: 10rem 1rem 12rem 1rem;
  display: flex;
  flex-direction: column;
}

.projects > h1 {
  font-size: 6rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 10rem;
}

.items {
  display: flex;
  flex-direction: column;
  align-items: center;
}
