.nav {
  height: 10rem;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  padding: 0 3rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 4.5rem;
  font-weight: 700;
  border: none;
  cursor: pointer;
}

.nav-links {
  list-style: none;

  display: flex;
  align-items: center;
}

.nav-item:not(:last-child) {
  margin-right: 4rem;
}

.nav-link {
  font-size: 2rem;
  text-transform: uppercase;
  border: none;
  border-bottom: 3px solid transparent;
  cursor: pointer;
  transition: all 0.3s;
}

.nav-link:hover {
  border-bottom: 2.5px solid #fff;
  transform: skewX(-15deg);
}
