* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-size: 62.5%;
  box-sizing: border-box;
  font-family: 'Vollkorn', sans-serif;
  font-weight: 400;
  /* background-color: #f6d2c6; */
  /* background-color: #ffb700; */
  /* color: #000; */
}

/* 800px */
@media only screen and (max-width: 50rem) {
  html {
    font-size: 55%;
  }
}

/* 450px */
@media only screen and (max-width: 28.125em) {
  html {
    font-size: 50%;
  }
}

.container {
  max-width: 100vw;
  display: flex;
  flex-direction: column;
}

/* COLORS */
/* #F6D2C6 */
/* #f39faa */
/* #081217 */
/* #ccc */
/* #fff */
/* #0e3f42 */

/* sub? */
/* #594E52 */
/* #B1C8B1 */
/* #C1ABA3 */
/* #F8906C */
/* #BD5A43 */
/* #78887F */

/* 1800px 112.5em */
/* 1200px 75em */
/* 800px 50em 文字サイズ切り替え */
/* 600px 37.5em */
/* 450px 28.125em 文字サイズ切り替え */
