.item {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 95%;
}

/* 700px */
@media only screen and (max-width: 43.75em) {
  .item {
    flex-direction: column;
    width: 80%;
  }
}

.item:not(:last-child) {
  margin-bottom: 12rem;
}

/* 700px */
@media only screen and (max-width: 43.75em) {
  .item:not(:last-child) {
    margin-bottom: 16rem;
  }
}

.item-reverse {
  flex-direction: row-reverse;
}

/* 700px */
@media only screen and (max-width: 43.75em) {
  .item-reverse {
    flex-direction: column;
  }
}

.card {
  flex: 0 1 50%;
  position: relative;
}

/* 700px */
@media only screen and (max-width: 43.75em) {
  .card {
    margin-bottom: 4rem;
  }
}

.card-item {
  height: 100%;
  width: 100%;
  object-fit: contain;
  box-shadow: 0 7px 10px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  overflow: hidden;
  transition: all 0.5s;
}

.description {
  flex: 1;
  padding: 0 4rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}

/* 500px */
@media only screen and (max-width: 31.25em) {
  .description {
    padding: 0 0.4rem;
  }
}

.title {
  font-size: 3rem;
  font-weight: 500;
  color: #e6a500;
  margin-bottom: 2rem;
  z-index: 5;
  position: relative;
}

.title::after {
  display: block;
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  transform: scale(1.07, 1.05) skewX(-15deg);
  background-color: #000;
}

/* 1800px */
@media only screen and (min-width: 112.5em) {
  .title {
    font-size: 4.5rem;
    margin-bottom: 2.3rem;
  }
}

.content > p {
  font-size: 1.7rem;
  margin-bottom: 1.9rem;
  text-align: center;
}

/* 1800px */
@media only screen and (min-width: 112.5em) {
  .content > p {
    font-size: 2.3rem;
    margin-bottom: 2.1rem;
  }
}

.stack {
  width: 80%;
  font-size: 1.4rem;
  text-align: center;
  margin-bottom: 2rem;
  font-style: italic;
}

/* 1800px */
@media only screen and (min-width: 112.5em) {
  .stack {
    font-size: 1.9rem;
    margin-bottom: 2rem;
  }
}

.links {
  display: flex;
  align-items: center;
}

.link-visit:link,
.link-visit:visited,
.link-source:link,
.link-source:visited {
  text-decoration: none;
  border: 2px solid #000;
  padding: 0.8rem 1.8rem;
  border-radius: 10rem;
  color: #000;
  font-size: 1.3rem;
  font-weight: 500;
  transition: all 0.3s;

  display: flex;
  align-items: center;
}

/* 1800px */
@media only screen and (min-width: 112.5em) {
  .link-visit:link,
  .link-visit:visited,
  .link-source:link,
  .link-source:visited {
    font-size: 2rem;
    padding: 1.5rem 2.5rem;
  }
}

.link-visit:hover,
.link-visit:active,
.link-source:hover,
.link-source:active {
  background-color: #000;
  color: #fff;
}

.link-visit {
  margin-right: 1rem;
}

.link-source {
  margin-left: 1rem;
}

.link-icon {
  margin-right: 0.5rem;
  font-size: 1.5rem;
  background-color: transparent;
  fill: #000;
  margin-bottom: 0.2rem;
  transition: all 0.3s;
}

/* 1800px */
@media only screen and (min-width: 112.5em) {
  .link-icon {
    font-size: 2.3rem;
    margin-right: 1rem;
  }
}

.link-visit:hover .link-icon,
.link-visit:active .link-icon,
.link-source:hover .link-icon,
.link-source:active .link-icon {
  fill: #fff;
}
